*{
    font-family: Tahoma;
}

header{
    margin: 0;
    padding: 50px;
    background-color: blueviolet;
}
header h1{
    color: white;
}
header p{
    color:bisque
}
hr{
    margin: 0;
    /* box-shadow: 3px 3x 15px aquamarine; */
    display: none;
}

table{
    width: 100%;
    border-collapse: collapse;
}

td, th{
    border: 1px solid #000;
    padding: 10px;
}

.barra_de_menu{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.barra_de_menu ol{
    list-style: none;
    padding: 0;
    margin: 0;
}

.barra_de_menu ol li{
    display: inline;
}

.btn{
    margin: 3px;
    padding: 5px;
    border: 1px solid #333;
    border-radius: 10px;
    background-color: #FFFFFF;
    text-decoration: none;
    color: #333;
}

.btn:hover{
    background-color: gray;
    color: #000;
}

.form-control{
    padding: 5px;
    width: 50%;
    border: 1px solid #999;
    margin: 5px;
}
.btn-add{
    background-color: red;
    color: #FFFFFF;
}
.btn-salvar{
    background-color: green;
    cursor: pointer;
}
.btn-limpar{
    background-color: gray;
    cursor: pointer;
}